<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <property name="LOG_PATTERN" value="%d{yyyy-MM-dd HH:mm:ss} %p %c[%method:%line] - %msg%n"/>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>${LOG_PATTERN}</Pattern>
        </layout>
    </appender>


    <!-- 로그 패키지별/출력 레벨 옵션 설정 -->
    <!-- 생성한 패키지에 적용하는 경우 -> 디버깅시 로그 임의로 찍을때 추가하면 편리~
    <logger name="kr.co.soojintaek.mvc.repository">
        <level value="ERROR"/>
    </logger>
     -->
    <logger name="org.springframework.boot">
        <level value="ERROR"/>
    </logger>
    <logger name="org.springframework.boot.devtools.restart">
        <level value="ERROR"/>
    </logger>
    <logger name="org.springframework">
        <level value="ERROR"/>
    </logger>
    <logger name="springfox">
        <level value="ERROR"/>
    </logger>
    <logger name="org.hibernate">
        <level value="ERROR"/>
    </logger>
    <logger name="org.apache">
        <level value="ERROR"/>
    </logger>
    <logger name="org.apache.http.impl.conn">
        <level value="ERROR"/>
    </logger>
    <logger name="log4jdbc">
        <level value="ERROR"/>
    </logger>
    <logger name="org.mybatis">
        <level value="ERROR"/>
    </logger>
    <logger name="com.zaxxer">
        <level value="ERROR"/>
    </logger>




    <root level="DEBUG">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>